* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  height: 80px;
  background: red;
  border-bottom: 1px solid lightgrey;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.navbar_left {
  float: left;
  height: 100%;
  width: 30%;
  background: blue;

}
.navbar_right {
  float: left;
  height: 100%;
  width: 70%;
  background: yellow;
}
.navbar_left img {
  height: 50px;
  margin-left: 20px;
  margin-top: 15px;
}
.navbar_right ul {
  list-style: none;
  height: 100%;
  text-align: right;
}
.navbar_right ul li {
  display: inline-block;
  margin: 0 15px;
  line-height: 80px;
}
.navbar_right a {
  color: #2c3e50;
  text-decoration: none;
}
.navbar_right a:hover {
  color: #18bc9c;
}
.navbar_right a.button {
  padding: 10px 20px;
  color: white;
  background: coral;
  border-radius: 5px;
}
